<app-header></app-header>

<mat-card-content class="as_bannermainwrapper faq_bannermainwrapper">
  <mat-card-content class="home_banner_wrapper">
    <mat-card-subtitle class="as_bannertextmainwrapper">
      <mat-card-content class="as_textwrapper">
        <h2>Got Questions? Let Us Answer Them For You!!!</h2>
        <h3>If you have any questions about the Blockchain technology and how it can benefit your business, we are here to answer those questions for you. If you don’t find the answers to your questions or have queries about our services and policies, feel free to get in touch with our representatives using the Contact Information below. We’d love to help you out. We’ll keep updating this section along the way to include more & more questions.
        </h3>
      </mat-card-content>
    </mat-card-subtitle>
  </mat-card-content>
</mat-card-content>

<mat-card-content class="faq_body">


  <mat-card-content class="faq_wrapper">

    <h2>FAQ</h2>

    <label>1. Where are Appliqate Inc. (APQT) headquarters located?</label>
    <p>1250 E 200 S, Ste 2F Lehi, UT 84043</p>

    <label>2. When does the fiscal year end?    </label>
    <p>jan/31</p>
<label>3. Who are the Company’s auditors? </label>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>

<label>4. Who is the stock transfer agent?</label>
<p>Standard Registrar and Transfer Company 440 East 400 South, Suite 200</p>
<p><strong>Salt Lake City, UT   84111</strong>       <span>Phone: 801-571-8844  or  801-596-2150 </span>         <a href="https://standardtransferco.com/" target="_blank"> www.standardtransferco.com</a>
</p>

  </mat-card-content>


</mat-card-content>



<app-footer></app-footer>
