<app-header></app-header>

<mat-card-content class="as_bannermainwrapper faq_bannermainwrapper">
  <mat-card-content class="home_banner_wrapper">
    <mat-card-subtitle class="as_bannertextmainwrapper">
      <mat-card-content class="as_textwrapper">
        <h2>Lorem Ipsum is simply</h2>
        <h3>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</h3>
      </mat-card-content>
    </mat-card-subtitle>
  </mat-card-content>
</mat-card-content>

<mat-card-content class="faq_body">


  <mat-card-content class="faq_wrapper">

    <h2>FAQ</h2>

    <label>1. Where are Appliqate Inc. (APQT) headquarters located?</label>
    <p>1250 E 200 S, Ste 2F Lehi, UT 84043</p>

    <label>2. When does the fiscal year end?    </label>
    <p>jan/31</p>
<label>3. Who are the Company’s auditors? </label>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>

<label>4. Who is the stock transfer agent?</label>
<p>Standard Registrar and Transfer Company 440 East 400 South, Suite 200</p>
<p><strong>Salt Lake City, UT   84111</strong>       <span>Phone: 801-571-8844  or  801-596-2150 </span>         <a href="https://standardtransferco.com/" target="_blank"> www.standardtransferco.com</a>
</p>

  </mat-card-content>


</mat-card-content>



<app-footer></app-footer>
