<mat-card-content class="footer_block">

<p>
  © 2019 - Appliqate All Right Reserved
</p>

<!--  <mat-card-subtitle >
    <a href="javascript:void(0)"><img src="../../assets/images/footer_icon1.png"></a>
    <a href="javascript:void(0)"><img src="../../assets/images/footer_icon2.png"></a>
    <a href="javascript:void(0)"><img src="../../assets/images/footer_icon3.png"></a>
    <a href="javascript:void(0)"><img src="../../assets/images/footer_icon4.png"></a>
    <a href="javascript:void(0)"><img src="../../assets/images/footer_icon5.png"></a>
  </mat-card-subtitle>

 <i class="material-icons footerscr">
    expand_less
  </i>-->


</mat-card-content>
