<app-header></app-header>
<mat-card-content class="as_bannermainwrapper as_compaffibannermainwrapper">
  <mat-card-content class="home_banner_wrapper">
    <mat-card-subtitle class="as_bannertextmainwrapper">
      <mat-card-content class="as_textwrapper">
        <h2>Compaffiliates is set to
          revolutionize the world of
          network marketing. Are you in?
        </h2>
        <h3>What if you could have complete ownership of your downline? What if you could prove the size and activity of your team, or had guaranteed accurate commissions? And what if you could build your network ONCE, and have it live on forever?
        </h3>
      </mat-card-content>
    </mat-card-subtitle>
  </mat-card-content>
</mat-card-content>
<mat-card class=" asblockchainblock2newad as_compaffiamwrapper2">
  <mat-card-title-group class="ascontainer">
    <mat-card-content class="as_textwrapper">
      <h1>Compaffiliates and Appliqate</h1>
      <h3>Designed as the world’s first blockchain created specifically for networking, Compaffiliates is putting the power into the hands of the entrepreneur, giving you the chance to earn, grow, and run your personal business in a completely revolutionary way.
      <br><br>
        Blockchain technology has the power to make information completely secure, transparent, and decentralized, giving each
        user the ownership and autonomy they deserve.
        <br><br>
        By putting power back in the hands of the user, blockchain enables entrepreneurs to grow at their own pace, be paid in a fair and transparent environment, and lock in their team for life. In turn, Compaffiliates eliminates some common pitfalls of the network marketing space, including fraud, withheld commissions, and cross-recruiting.
      </h3>
      <mat-card-actions class="asbuttonwrapper">
        <button class="greenbtn" (click)=scrollToTop()>Visit Compaffiliates Today</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card-title-group>
</mat-card>
<mat-card-content class="home_block3 as_compaffiwrapper3">
    <mat-card-content class="as_textwrapper">
      <h1>Through the power of blockchain, <span>Compaffiliates is about to transform the world of <br/>marketing as we know it!</span></h1>
    </mat-card-content>
    <mat-card-subtitle class="compaffiliates_video_wrapper">
      <mat-card-subtitle class="home_block3_video">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/SGDTHlWs3qo?rel=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 
      </mat-card-subtitle>
    </mat-card-subtitle>
  <mat-card-actions class="asbuttonwrapper">
    <button mat-button class="greenbtn2" [routerLink]="['/contact']">Get Started</button>
  </mat-card-actions>
</mat-card-content>
<mat-card-content class="home_block5 as_compaffiwrapper4">

  <h2> Benefits of Compaffiliates For You<br>
    and Your Network! </h2>
  <h3>What do you have to gain by jumping into Compaffiliates? We’ll sum it up for you:</h3>

</mat-card-content>




<mat-card-content class="compaffiliates_newadblock">


  <mat-card-content class="compaffiliates_newadblock1">

    <mat-card-content class="compaffiliates_text_wrapper">
    <mat-card-subtitle>
      <strong>Your Network is Yours.</strong>
     <p> Regardless of the status of your company or government regulation, your network lives on in an immutable blockchain that can never be altered or shut down. By purchasing a node, Compaffiliates gives you the first ever solidified legal record of your downline, allowing you to prove both the size and activity of your team.</p>


    </mat-card-subtitle>
    </mat-card-content>
  </mat-card-content>

  <mat-card-content class="compaffiliates_newadblock2">

    <mat-card-content class="compaffiliates_text_wrapper">
    <mat-card-subtitle>
      <strong>Commissions
        are transparent.</strong>
     <p> How do you know you’re getting paid what you deserve? While many companies hide their commissions, and may only pay a portion of the whole, Compaffiliates displays all commissions in a completely transparent environment, so you can be sure you’re earning every commission, every time.</p>


    </mat-card-subtitle>
    </mat-card-content>
  </mat-card-content>

  <mat-card-content class="compaffiliates_newadblock3">

    <mat-card-content class="compaffiliates_text_wrapper">
    <mat-card-subtitle>
      <strong>Verification from A-Z</strong>
      <p>Blockchain has the power to verify everything from your personal contacts to their activity, and even the product offerings you choose to share. No longer can your personal contacts be stolen, switched, or removed from your network, and gone are the days when you could risk selling something that doesn’t exist! Let Compaffiliates do the verifying for you, to make sure your contacts and the products you offer are completely transparent and secure.– and Nui has a front row seat.</p>



    </mat-card-subtitle>
    </mat-card-content>

  </mat-card-content>

  <mat-card-content class="compaffiliates_newadblock4">

    <mat-card-content class="compaffiliates_text_wrapper">
    <mat-card-subtitle>
      <strong>Build One and
        You’re Done</strong>
      <p>Sick of rebuilding every time you take on a new opportunity? With Compaffiliates, you’ll only do it once. After your network is in place, present it with any unique opportunities, products, or applications you see fit, so you can make money YOUR way.</p>




    </mat-card-subtitle>

    </mat-card-content>

  </mat-card-content>

</mat-card-content>







<mat-card-content class="asblockchainblock as_compaffiwrapper5">
  <mat-card-content class="as_textwrapper">
    <h1> Bring Your Idea, We’ll Build Your
      Brand and Your Customers! </h1>
    <h3>Our Network Is 80,000 and Growing!
    </h3>
  </mat-card-content>
  <mat-card-title-group class="ascontainer">
    <mat-card-title class="compaffiwrapper5_aslistcontainent">
      <mat-card-subtitle role="listitem" class="as_compaffimgcontent">
        <mat-card-title-group class="asimgwrapper">
          <img src="../../assets/images/compaffigallery1.jpg">
          <mat-card-title class="asgallerytextwrapper">
            <h2>Essential oil
            <span>Lorem ipsum dolor sit amet, consectetuer</span>
            </h2>
          </mat-card-title>
        </mat-card-title-group>
      </mat-card-subtitle>
      <mat-card-subtitle role="listitem" class="as_compaffimgcontent">
        <mat-card-title-group class="asimgwrapper">
          <img src="../../assets/images/compaffigallery2.jpg">
          <mat-card-title class="asgallerytextwrapper">
            <h2>Essential oil
              <span>Lorem ipsum dolor sit amet, consectetuer</span>
            </h2>
          </mat-card-title>
        </mat-card-title-group>
      </mat-card-subtitle>
      <mat-card-subtitle role="listitem" class="as_compaffimgcontent">
        <mat-card-title-group class="asimgwrapper">
          <img src="../../assets/images/compaffigallery3.jpg">
          <mat-card-title class="asgallerytextwrapper">
            <h2>Essential oil
              <span>Lorem ipsum dolor sit amet, consectetuer</span>
            </h2>
          </mat-card-title>
        </mat-card-title-group>
      </mat-card-subtitle>
      <mat-card-subtitle role="listitem" class="as_compaffimgcontent">
        <mat-card-title-group class="asimgwrapper">
          <img src="../../assets/images/compaffigallery4.jpg">
          <mat-card-title class="asgallerytextwrapper">
            <h2>Essential oil
              <span>Lorem ipsum dolor sit amet, consectetuer</span>
            </h2>
          </mat-card-title>
        </mat-card-title-group>
      </mat-card-subtitle>
      <mat-card-subtitle role="listitem" class="as_compaffimgcontent">
        <mat-card-title-group class="asimgwrapper">
          <img src="../../assets/images/compaffigallery5.jpg">
          <mat-card-title class="asgallerytextwrapper">
            <h2>Essential oil
              <span>Lorem ipsum dolor sit amet, consectetuer</span>
            </h2>
          </mat-card-title>
        </mat-card-title-group>
      </mat-card-subtitle>
      <mat-card-subtitle role="listitem" class="as_compaffimgcontent">
        <mat-card-title-group class="asimgwrapper">
          <img src="../../assets/images/compaffigallery6.jpg">
          <mat-card-title class="asgallerytextwrapper">
            <h2>Essential oil
              <span>Lorem ipsum dolor sit amet, consectetuer</span>
            </h2>
          </mat-card-title>
        </mat-card-title-group>
      </mat-card-subtitle>
    </mat-card-title>
  </mat-card-title-group>
</mat-card-content>

<mat-card-content class="home_block5 as_compaffiwrapper6">

  <h2>The Compaffiliates Vision</h2>
  <h3>Compaffiliates has the power to transform affiliate marketing on a global scale. The only question is… will you take <br>your chance to get in from the beginning?</h3>
  <mat-card-actions class="asbuttonwrapper">
    <button mat-button class="greenbtn3" [routerLink]="['/contact']">Get Started</button>
  </mat-card-actions>
</mat-card-content>

<app-footer></app-footer>