<app-header></app-header>

<mat-card-content class="as_bannermainwrapper">
  <mat-card-content class="home_banner_wrapper">
    <mat-card-subtitle class="as_bannertextmainwrapper">
      <mat-card-content class="as_textwrapper">
        <h2>CompChain; More Than A Financial Revolution</h2>
        <h3><!--Blockchain is more than a financial revolution. -->It’s recreating the very world we live in and represents a shift in power so groundbreaking and progressive that it will eventually stretch globally into every market. By harnessing the power of blockchain, Appliqate’s paving a clear path to success with unimaginable potential by bringing a portion of that power straight to the consumer.</h3>
      </mat-card-content>
    </mat-card-subtitle>
  </mat-card-content>
</mat-card-content>

<mat-card-content class=" asblockchainblock2 asblockchainblock2margin">
  <mat-card-title-group class="ascontainer">
    <mat-card-content class="as_textwrapper">
      <h1> Appliqate Is An Industry Disruptor</h1>
      <h3>Appliqate is perfectly positioned at the front of this bold new revolution, with a comprehensive suite of products and offerings,<br/> strategic partnerships, a proven business model, and an innovative vision. From distribution to capital, and from infrastructure to<br/> support, Appliqate offers blockchain participants the resources they need to be successful in today’s business environment.
      </h3>
    </mat-card-content>
    <mat-card-content class="asimgwrapper">
      <img src="../../assets/images/blockchainbanner2.jpg">
    </mat-card-content>

  </mat-card-title-group>
</mat-card-content>
<mat-card-content class="asblockchainblock asblockchainblock3 asblockchainblock3margin" >
  <mat-card-title-group class="ascontainer">
    <mat-card-content class="as_textwrapper">
    <h1> Transformative Technology Backed By Blockchain</h1>
    <h3><!--Blockchain is an economy-wide transformative technology, what economists label as a GPT (general purpose technology).<br/> The finance sector was the primary area for early adoption, given the obvious significant cost savings, efficiency, and<br/> integrity of the technology when applied to financial transactions. Blockchain driven finance transactions expanded to<br/> include micropayments, new types of cross-platform subscriptions, and peer to peer financial<br/>
      lending platforms.-->Led by hospitality, Blockchain solutions are now being actively applied to health care, music, insurance, passports (and other forms of identification), real estate, retail and food safety, as well as shipping and delivery systems.
    </h3>
  </mat-card-content>
    <mat-card-content class="asbuttonmainwrapper">
      <mat-list>
        <mat-list-item>
          <img src="../../assets/images/blockchainicon1.png">
          <p>health care</p>
        </mat-list-item>
        <mat-list-item>
          <img src="../../assets/images/blockchainicon2.png">
          <p>music</p>
        </mat-list-item>
        <mat-list-item>
          <img src="../../assets/images/blockchainicon3.png">
          <p>insurance</p>
        </mat-list-item>
        <mat-list-item>
          <img src="../../assets/images/blockchainicon4.png">
          <p>passports</p>
        </mat-list-item>

        <mat-list-item>
          <img src="../../assets/images/blockchainicon5.png">
          <p>real estate</p>
        </mat-list-item>
        <mat-list-item>
          <img src="../../assets/images/blockchainicon6.png">
          <p>retail</p>
        </mat-list-item>
        <mat-list-item>
          <img src="../../assets/images/blockchainicon7.png">
          <p>food safety</p>
        </mat-list-item>
        <mat-list-item>
          <img src="../../assets/images/blockchainicon8.png">
          <p>shipping and<br>
            delivery systems</p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>

  </mat-card-title-group>
</mat-card-content>
<mat-card-content class=" asblockchainblock4">
  <mat-card-content class="as_textwrapper">
    <h1>The Next Big Thing</h1>
    <p class="blockchainnewbtext">Given the tremendous attention and impact of blockchain, a plethora of start-ups and
      investors have poured into blockchain identifying it as “the next big thing”. Appliqate agrees
      and believes that the next hundred most important companies will derive significant if not
      primary benefit from blockchain technology. The potential is tremendous, but most
      real-world applications of this nascent technology are still in the very beginning stages.
    </p>
  </mat-card-content>
</mat-card-content>
<mat-card class="asblockchainblock asblockchainblock5 asblockchainblock5new">
  <mat-card-title-group class="ascontainer">
    <mat-card-content class="asblockchainblock5containerwrapper">
      <mat-card class="ascontainerrow ascontainerrow1">
        <mat-card-subtitle class="col_container col_container1">
          <mat-card-content class="as_textwrapper">
            <h2>THE EXPLOSIVE INCREASE IN BLOCKCHAIN APPLICATIONS
            </h2>
            <h3>across a limited blockchain infrastructure is driving a geometrically increasing demand for the support services and infrastructure that underpin these blockchain applications.
            </h3>
          </mat-card-content>
        </mat-card-subtitle>
        <mat-card-subtitle class="col_container col_container2">
          <mat-card-content class="asimgwrapper">
              <img src="../../assets/images/blockchainbanner4.jpg">
          </mat-card-content>
        </mat-card-subtitle>
      </mat-card>
      <mat-card class="ascontainerrow ascontainerrow1">
        <mat-card-subtitle class="col_container col_container1">
          <mat-card-content class="as_textwrapper">
            <h2>MUCH LIKE BUILDING RAILROADS LAID THE FOUNDATION</h2>
            <h3>to usher in the industrial revolution, the blockchain “rails” of the blockchain infrastructure and network provide the foundation for the blockchain revolution.
            </h3>
          </mat-card-content>
        </mat-card-subtitle>
        <mat-card-subtitle class="col_container col_container2">
          <mat-card-content class="asimgwrapper">
            <img src="../../assets/images/blockchainbanner5.jpg">
          </mat-card-content>
        </mat-card-subtitle>
      </mat-card>

      <mat-card-content class="as_textwrappernew">
        <p><strong>Blockchain offers the potential to change and reform global economies in ways not seen since the last economic leap with the market acceptance of the internet. Appliqate aims to introduce multiple viable blockchain investment strategies based on proven business fundamentals.
        </strong></p>
      </mat-card-content>
    </mat-card-content>
  </mat-card-title-group>
</mat-card>


<app-footer></app-footer>