<app-header></app-header>
<mat-card-content class="services_banner">

  <mat-card-content class="services_banner_wrapper">

    <mat-card-subtitle>

      <mat-card-content>
        <h2>STORING YOUR DIGITAL MONEY
        </h2>
        <h3>Safely store, manage, track and move your money with Appliqate’s blockchain payment platform. Digital wallets to <!--Lucy Labs-->online cryptocurrency bill-pay, we have your business covered.
        </h3>


      </mat-card-content>


    </mat-card-subtitle>
  </mat-card-content>


</mat-card-content>

<mat-card-content class="services_block1">

  <mat-card-content class="services_block1_wrapper">

    <h2>Wallets (ABRA)</h2>

    <h3>Digital wallets hold and allow one to transact in digital currencies (cryptocurrencies), e.g. Bitcoin <!--and CoCo-->. To date, some 110 million Americans have used digital wallets3 of which some 35 million such wallets accommodate cryptocurrency. These​  mobile ​e-wallets may ultimately replace bank accounts. </h3>


    <img src="../../assets/images/services_block1_img.png">

    <mat-card-subtitle>
         <h4>Using a single app, our partner, ABRA enables one to simply and securely invest in 30 cryptocurrencies and 50 fiat currencies.</h4>

      <p>Moreover, ABRA (and others) rely on Appliqate’s CompAffiliates network to recruit wallet users, paying fees, for each new wallet user, anywhere from $50 to $150. This referral fee provides current cash flow (and profit) for Appliqate, whilst the company launches its other blockchain products.
      </p>

    </mat-card-subtitle>


    <mat-card-content class="services_block1_clear"></mat-card-content>

  </mat-card-content>

</mat-card-content>

<mat-card-content class="services_block2">

  <mat-card-content class="services_block2_wrapper">

    <h2>Retail Digital Payments </h2>

    <p>Appliqate has a relationship that allows CompChain members to use <!--CoCo -->Digital Currency at all linked establishments. We have integrated with tens of thousands of locations including:</p>




    <ul>
      <li><img src="../../assets/images/services_block2_img1.jpg"></li>
      <li><img src="../../assets/images/services_block2_img2.jpg"></li>
      <li><img src="../../assets/images/services_block2_img3.jpg"></li>
      <li><img src="../../assets/images/services_block2_img4.jpg"></li>
      <li><img src="../../assets/images/services_block2_img5.jpg"></li>
      <li><img src="../../assets/images/services_block2_img6.jpg"></li>
      <li><img src="../../assets/images/services_block2_img7.jpg"></li>
      <li><img src="../../assets/images/services_block2_img8.jpg"></li>
      <li><img src="../../assets/images/services_block2_img9.jpg"></li>
      <li><img src="../../assets/images/services_block2_img10.jpg"></li>
      <li><img src="../../assets/images/services_block2_img11.jpg"></li>
      <li><img src="../../assets/images/services_block2_img12.jpg"></li>
      <li><img src="../../assets/images/services_block2_img13.jpg"></li>
      <li><img src="../../assets/images/services_block2_img14.jpg"></li>
      <li><img src="../../assets/images/services_block2_img15.jpg"></li>
      <li><img src="../../assets/images/services_block2_img16.jpg"></li>
      <li><img src="../../assets/images/services_block2_img17.jpg"></li>
      <li><img src="../../assets/images/services_block2_img18.jpg"></li>


    </ul>



    <p>Once purchases are deducted directly from their CompChain <!--CoCo -->wallet without any conversion to fiat, credit cards, nor associated bank accounts unless so desired. This relationship allows Appliqate to immediately participate in the mobile-pay business as an alternative to others, including Apple Pay subject to two significant enhancements; a discount on every transaction,
      and the ability to pay one’s bill at POS, using crypto.
    </p>

  </mat-card-content>

</mat-card-content>


<mat-card-content class="services_block3">

  <mat-card-content class="services_block3_wrapper">

    <h2>Digital Bill Pay</h2>
    <h3>Bill Payments --</h3>

    <p>Appliqate has agreed to acquire Cents, an online bill-pay service. Online bill-pay usage continues to follow e-commerce growth, however, these systems remain clunky and inefficient. Appliqate solves this problem by revolutionizing the payments infrastructure. Our acquisition of Cents will allow CompChain members to have digitally-enabled payment experiences using CompChain wallet. With a single integration,
      we are able to immediately offer a wide array of solutions to empower CompChain members to easily process bill payments straight from their membership wallet using our cryptocurrency.  </p>



  </mat-card-content>

</mat-card-content>


<!--<mat-card-content class="services_block4">

  <mat-card-content class="services_block4_wrapper">

    <h2>Lucy Labs has been building out the full range of investment banking services for the new crypto ecosystem. </h2>

    <p>​Lucy Labs applies over 25 years of traditional financial markets and risk management knowledge to cryptocurrencies. Since 2017, their team of experienced traders, analysts, and operations professionals based in New York and California has been building research, execution, and investment capabilities focused on the cryptocurrency ecosystem. Lucy Labs brings Appliqate insight into the technologies and economics of cryptocurrencies and into the trading behavior of the crypto market and access to blockchain merger and acquisition transactions throughout Asia. Lucy Labs will make a market in CompCoin and facilitate the crypto to fiat transaction flow needed to
      smoothly run the CompChain retail and bill pay business.
    </p>

    <ul>
      <li><img src="../../assets/images/services_block4_img1.jpg"></li>
      <li><img src="../../assets/images/services_block4_img2.jpg"></li>
      <li><img src="../../assets/images/services_block4_img3.jpg"></li>


    </ul>



  </mat-card-content>


</mat-card-content>-->



<app-footer></app-footer>