<app-header></app-header>

<mat-card-content class="as_bannermainwrapper sfc_bannermainwrapper">
  <mat-card-content class="home_banner_wrapper">
    <mat-card-subtitle class="as_bannertextmainwrapper">
      <mat-card-content class="as_textwrapper">
        <h2>Access To Our SEC Filings With Complete Disclosure!!!
        </h2>
        <h3>At Appliqate, we allow you complete access to our SEC filings for you to take a closer look at the functioning and the well-being of the company. Quarterly and Annual reports are regularly submitted to the platform to keep our members updated. This allows us to prevent stock manipulation and fraud and acts as a regulatory watchdog. This also helps us maintain 100% transparency by providing detailed SEC filing information for public access.
        </h3>
      </mat-card-content>
    </mat-card-subtitle>
  </mat-card-content>
</mat-card-content>

<mat-card-content class="sfc_body">


  <mat-card-content class="sfc_wrapper">


    <mat-card-content class="sfc_wrapper_table">

    <h2>FILINGS AND DISCLOSURE</h2>
    <table class="toptableblock" cellpadding="0" cellspacing="0">
    <tr>
      <th>OTC Disclosure & News</th>
      <th>Active</th>
      <th>Inactive</th>
      <th>All</th>
     </tr>
    </table>

    <table class="maintableblock" cellpadding="0" cellspacing="0">
      <thead>
         <tr>
          <th>PUBLISH DATE</th>
          <th>TITLE</th>
          <th>PERIOD END DATE	</th>
          <th>STATUS</th>
         </tr>
   
        </thead>
        <tbody>
     <tr>
       <td data-title="PUBLISH DATE"><span>12/21/2019</span></td>
       <td data-title="TITLE"><span class="titlespan"><a  href="https://backend.otcmarkets.com/otcapi/company/financial-report/237579/content" target="_blank">  Quarterly Report - Quarterly Report</a></span></td>
       <td data-title="PERIOD END DATE"><span>10/31/2019</span></td>
       <td  data-title="STATUS"><span>A</span></td>
     </tr>

     <tr>
      <td data-title="PUBLISH DATE"><span>12/21/2019</span></td>
      <td data-title="TITLE"><span class="titlespan"> <a  href="https://backend.otcmarkets.com/otcapi/company/financial-report/237578/content" target="_blank"> Quarterly Report - Quarterly Report</a>	</span> </td>
      <td  data-title="PERIOD END DATE"><span>10/31/2019</span></td>
      <td data-title="STATUS"><span>A</span></td>
    </tr>

    <tr>
      <td data-title="PUBLISH DATE"><span>12/16/2019</span></td>
      <td data-title="TITLE"><span class="titlespan"> <a  href="https://backend.otcmarkets.com/otcapi/company/financial-report/237170/content" target="_blank"> Notification of Late Filing - Notification of Late Filing	</a></span> </td>
      <td  data-title="PERIOD END DATE"><span>10/31/2019	</span></td>
      <td data-title="STATUS"><span>A</span></td>
    </tr>

    <tr>
      <td data-title="PUBLISH DATE"><span>09/17/2019	</span></td>
      <td data-title="TITLE"><span class="titlespan"><a  href="https://backend.otcmarkets.com/otcapi/company/financial-report/230452/content" target="_blank"> Attorney Letter with Respect to Current Information - Attorney 
        Letter with Respect to Current Information</a> </span></td>
      <td  data-title="PERIOD END DATE"><span>01/31/2019</span>	</td>
      <td data-title="STATUS"><span>A</span></td>
    </tr>

    <tr>
      <td data-title="PUBLISH DATE"><span>09/13/2019</span></td>
      <td data-title="TITLE"><span class="titlespan"><a  href="https://backend.otcmarkets.com/otcapi/company/financial-report/230351/content" target="_blank"> Interim Financial Report - Disclosure Statement Pursuant to 
        the Pink Basic Disclosure Guidelines</a></span></td>
      <td  data-title="PERIOD END DATE"><span>04/30/2019</span></td>
      <td data-title="STATUS"><span>A</span></td>
    </tr>

    <tr>
      <td data-title="PUBLISH DATE"><span>09/13/2019	</span></td>
      <td data-title="TITLE"><span class="titlespan"> <a  href="https://backend.otcmarkets.com/otcapi/company/financial-report/230350/content" target="_blank"> Quarterly Report - Disclosure Statement Pursuant to the Pink 
        Basic Disclosure Guidelines	</a></span></td>
      <td  data-title="PERIOD END DATE"><span>07/31/2018</span></td>
      <td data-title="STATUS"><span>A</span></td>
    </tr>


    <tr>
      <td data-title="PUBLISH DATE"><span>09/13/2019	</span></td>
      <td data-title="TITLE"><span class="titlespan"><a  href="https://backend.otcmarkets.com/otcapi/company/financial-report/230349/content" target="_blank"> Annual Report - Disclosure Statement Pursuant to the Pink
        Basic Disclosure Guidelines</a></span>	</td>
      <td  data-title="PERIOD END DATE"><span>01/31/2019</span>	</td>
      <td data-title="STATUS"><span>A</span></td>
    </tr>

    <tr>
      <td data-title="PUBLISH DATE"><span>09/09/2019</span></td>
      <td data-title="TITLE"><span class="titlespan"><a  href="https://backend.otcmarkets.com/otcapi/company/financial-report/230116/content" target="_blank"> Quarterly Report - APQT Financial Statement Q2 2019	</a></span></td>
      <td  data-title="PERIOD END DATE"><span>07/31/2019</span></td>
      <td data-title="STATUS"><span>A</span></td>
    </tr>

    <tr>
      <td data-title="PUBLISH DATE"><span>09/04/2019</span></td>
      <td data-title="TITLE"><span class="titlespan"> <a  href="https://backend.otcmarkets.com/otcapi/company/financial-report/229932/content" target="_blank"> Interim Financial Report - APQT Financial Statement Q1 2019</a></span>	</td>
      <td  data-title="PERIOD END DATE"><span>04/30/2019</span>	</td>
      <td data-title="STATUS"><span>A</span></td>
    </tr>

    <tr>
      <td data-title="PUBLISH DATE"><span>09/04/2019</span></td>
      <td data-title="TITLE"><span class="titlespan"><a  href="https://backend.otcmarkets.com/otcapi/company/financial-report/229930/content" target="_blank"> Annual Report - APQT Financial Statement 2019</a></span>	</td>
      <td  data-title="PERIOD END DATE"><span>01/31/2019</span>	</td>
      <td data-title="STATUS"><span>A</span></td>
    </tr>


    <tr>
      <td colspan="4"><label>Displaying 10 of 10 Disclosure & News</label>  </td>
       
    </tr>

  </tbody>

    </table>
   
    </mat-card-content>

    <mat-card-content class="sfc_wrapper_table sfc_wrapper_table2">

      <table class="toptableblock" cellpadding="0" cellspacing="0">
        <tr>
          <th>SEC Filings</th>
          
         </tr>
        </table>

          
   <!-- <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" class="maintableblock" cellpadding="0" cellspacing="0">

 
    <ng-container matColumnDef="formType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> FORM TYPE </th>
      <td mat-cell *matCellDef="let element" data-title="FORM TYPE"> <span class="textblockcon">{{element.formType}} </span></td>
    </ng-container>
  
  
    <ng-container matColumnDef="received">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> RECEIVED </th>
      <td mat-cell *matCellDef="let element" data-title="RECEIVED">  <span class="textblockcon">{{element.received}} </span></td>
    </ng-container>
  
    <ng-container matColumnDef="enddate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> PERIOD END DATE </th>
      <td mat-cell *matCellDef="let element" data-title="PERIOD END DATE">  <span class="textblockcon">{{element.enddate}}</span> </td>
    </ng-container>
  
    
    <ng-container matColumnDef="report">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> REPORT </th>
      <td mat-cell *matCellDef="let element" data-title="REPORT"> <span class="textblockcon">{{element.report}}
      <span class="PDF_icon">PDF</span>  
      <span class="RTF_icon">RTF</span>  
      <span class="HTML_icon">HTML</span>  
      <span class="XLS_icon">XLS</span>  

      </span>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <table class="paginationtable"><tr><td>
   <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </td></tr></table>   -->

<table class="maintableblock" ellpadding="0" cellspacing="0">

  <thead>
<tr>
  <th>FORM TYPE </th>
  <th>RECEIVED</th>
  <th>PERIOD END DATE</th>
  <th>REPORT</th>


</tr>
</thead>

<tbody>

  <tr class="mat-row">
    <td data-title="FORM TYPE"><span class="titlespan"><a  href="https://www.otcmarkets.com/filing/html?id=11297798&guid=VSRCUpVcRXc7HMh" target="_blank">1-A</a></span></td>
    <td  data-title="RECEIVED"><span class="titlespan">04/01/2016</span></td>
 
    <td  data-title="PERIOD END DATE"><span class="titlespan">&nbsp;</span></td>

    <td data-title="REPORT">

   
        <span class="textblockcon"> 

      <span class="titlespan PDF_icon" ><a  href="../../assets/images/new_doc_file/conv_pdf.pdf" target="_blank">PDF</a></span>  
      <span class="titlespan RTF_icon"><a  href="../../assets/images/new_doc_file/rtf" target="_blank">RTF</a></span>  
      <span class="titlespan HTML_icon"><a  href="https://www.otcmarkets.com/filing/html?id=11297798&guid=VSRCUpVcRXc7HMh" target="_blank">HTML</a></span>  
      <span class="titlespan XLS_icon"><a  href="../../assets/images/new_doc_file/APPLIQATE_1-A_20160401.xls" target="_blank">XLS</a></span>  
    </span>
    </td>
  </tr>

  <tr class="mat-row">
    <td data-title="FORM TYPE"><span class="titlespan"><a  href="https://www.otcmarkets.com/filing/html?id=11357017&guid=VSRCUpVcRXc7HMh" target="_blank">1-A/A</a></span></td>
    <td  data-title="RECEIVED"> <span class="titlespan">05/03/2016</span></td>
 
    <td data-title="PERIOD END DATE"><span class="titlespan">&nbsp;</span></td >

    <td data-title="REPORT">
      <span class="textblockcon">

      <span class="titlespan PDF_icon" ><a  href="../../assets/images/new_doc_file/conv_pdf_2.pdf" target="_blank">PDF</a></span>  
      <span class="titlespan RTF_icon"><a  href="../../assets/images/new_doc_file/rtf_2" target="_blank">RTF</a></span>  
      <span class="titlespan HTML_icon"><a  href="https://www.otcmarkets.com/filing/html?id=11357017&guid=VSRCUpVcRXc7HMh" target="_blank">HTML</a></span>  
      <span class="titlespan XLS_icon"><a  href="../../assets/images/new_doc_file/APPLIQATE_1-A_A_20160503.xls" target="_blank">XLS</a></span>  
    </span>
    </td>
  </tr>

  <tr class="mat-row">
    <td data-title="FORM TYPE"><span class="titlespan"><a  href="http://www.otcmarkets.com/filing/html?id=11396008&guid=VSRCUpVcRXc7HMh" target="_blank">QUALIF</a></span></td>
    <td  data-title="RECEIVED"><span class="titlespan">05/18/2016</span></td>
 
    <td  data-title="PERIOD END DATE"><span class="titlespan">&nbsp;</span></td>

    <td data-title="REPORT">
      <span class="textblockcon">

      <span class="titlespan PDF_icon" ><a  href="../../assets/images/new_doc_file/conv_pdf_3.pdf" target="_blank">PDF</a></span>  
      <span class="titlespan RTF_icon"><a  href="../../assets/images/new_doc_file/rtf_3" target="_blank">RTF</a></span>  
      <span class="titlespan HTML_icon"><a  href="https://www.otcmarkets.com/filing/html?id=11396008&guid=VSRCUpVcRXc7HMh" target="_blank">HTML</a></span>  
    </span>
    </td>
  </tr>


  <tr class="mat-row">
    <td data-title="FORM TYPE"><span class="titlespan"><a  href="https://www.otcmarkets.com/filing/html?id=11403391&guid=VSRCUpVcRXc7HMh" target="_blank">1-A POS</a></span></td>
    <td  data-title="RECEIVED"> <span class="titlespan">05/23/2016</span></td>
 
    <td  data-title="PERIOD END DATE"><span class="titlespan">&nbsp;</span></td>

    <td data-title="REPORT">
      <span class="textblockcon">

      <span class="titlespan PDF_icon" ><a  href="../../assets/images/new_doc_file/conv_pdf_4.pdf" target="_blank">PDF</a></span>  
      <span class="titlespan RTF_icon"><a  href="../../assets/images/new_doc_file/rtf_4" target="_blank">RTF</a></span>  
      <span class="titlespan HTML_icon"><a  href="https://www.otcmarkets.com/filing/html?id=11403391&guid=VSRCUpVcRXc7HMh" target="_blank">HTML</a></span>  
      <span class="titlespan XLS_icon"><a  href="../../assets/images/new_doc_file/APPLIQATE_1-A_POS_20160523.xls" target="_blank">XLS</a></span>  
    </span>
    </td>
  </tr>

  <tr class="mat-row">
    <td data-title="FORM TYPE"><span class="titlespan"><a  href="https://www.otcmarkets.com/filing/html?id=11838040&guid=VSRCUpVcRXc7HMh" target="_blank">1-U</a></span></td>
    <td  data-title="RECEIVED"><span class="titlespan">02/09/2017</span></td>
 
    <td  data-title="PERIOD END DATE"><span class="titlespan">02/09/2017</span></td>

    <td data-title="REPORT">

      <span class="textblockcon">

      <span class="titlespan PDF_icon" ><a  href="../../assets/images/new_doc_file/conv_pdf_5.pdf" target="_blank">PDF</a></span>  
      <span class="titlespan RTF_icon"><a  href="../../assets/images/new_doc_file/rtf_5" target="_blank">RTF</a></span>  
      <span class="titlespan HTML_icon"><a  href="https://www.otcmarkets.com/filing/html?id=11838040&guid=VSRCUpVcRXc7HMh" target="_blank">HTML</a></span>  
    </span>
    </td>
  </tr>


  <tr class="mat-row">
    <td data-title="FORM TYPE"><span class="titlespan"><a  href="https://www.otcmarkets.com/filing/html?id=11976028&guid=VSRCUpVcRXc7HMh" target="_blank">1-SA</a></span></td>
    <td  data-title="RECEIVED"><span class="titlespan">04/04/2017</span></td>
 
    <td  data-title="PERIOD END DATE"><span class="titlespan">07/31/2016</span></td>

    <td data-title="REPORT">
      <span class="textblockcon">

      <span class="titlespan PDF_icon" ><a  href="../../assets/images/new_doc_file/conv_pdf_6.pdf" target="_blank">PDF</a></span>  
      <span class="titlespan RTF_icon"><a  href="../../assets/images/new_doc_file/rtf_6" target="_blank">RTF</a></span>  
      <span class="titlespan HTML_icon"><a  href="https://www.otcmarkets.com/filing/html?id=11976028&guid=VSRCUpVcRXc7HMh" target="_blank">HTML</a></span> 
      <span class="titlespan XLS_icon"><a  href="../../assets/images/new_doc_file/APPLIQATE_1-SA_20170404.xls" target="_blank">XLS</a></span>   
    </span>
    </td>
  </tr>


  <tr class="mat-row">
    <td data-title="FORM TYPE"><span class="titlespan"><a  href="https://www.otcmarkets.com/filing/html?id=12075155&guid=VSRCUpVcRXc7HMh" target="_blank">1-A POS</a></span></td>
    <td  data-title="RECEIVED"><span class="titlespan">05/17/2017</span></td>
 
    <td  data-title="PERIOD END DATE"><span class="titlespan">&nbsp;</span></td>

    <td data-title="REPORT">
      <span class="textblockcon">

      <span class="titlespan PDF_icon" ><a  href="../../assets/images/new_doc_file/conv_pdf_7.pdf" target="_blank">PDF</a></span>  
      <span class="titlespan RTF_icon"><a  href="../../assets/images/new_doc_file/rtf_7" target="_blank">RTF</a></span>  
      <span class="titlespan HTML_icon"><a  href="https://www.otcmarkets.com/filing/html?id=12075155&guid=VSRCUpVcRXc7HMh" target="_blank">HTML</a></span> 
      <span class="titlespan XLS_icon"><a  href="../../assets/images/new_doc_file/APPLIQATE_1-A_POS_20170517.xls" target="_blank">XLS</a></span>   
    </span>
    </td>
  </tr>

  
  <tr class="mat-row">
    <td data-title="FORM TYPE"><span class="titlespan"><a  href="https://www.otcmarkets.com/filing/html?id=12102127&guid=VSRCUpVcRXc7HMh" target="_blank">1-K</a></span></td>
    <td  data-title="RECEIVED"><span class="titlespan">05/31/2017</span></td>
 
    <td  data-title="PERIOD END DATE"><span class="titlespan">01/31/2017</span></td>

    <td data-title="REPORT">
      <span class="textblockcon">
      <span class="titlespan PDF_icon" ><a  href="../../assets/images/new_doc_file/conv_pdf_8.pdf" target="_blank">PDF</a></span>  
      <span class="titlespan RTF_icon"><a  href="../../assets/images/new_doc_file/rtf_8" target="_blank">RTF</a></span>  
      <span class="titlespan HTML_icon"><a  href="https://www.otcmarkets.com/filing/html?id=12102127&guid=VSRCUpVcRXc7HMh" target="_blank">HTML</a></span> 
      <span class="titlespan XLS_icon"><a  href="../../assets/images/new_doc_file/APPLIQATE_1-K_20170531.xls" target="_blank">XLS</a></span>   
    </span>
    </td>
  </tr>


  <tr class="mat-row">
    <td data-title="FORM TYPE"><span class="titlespan"><a  href="https://www.otcmarkets.com/filing/html?id=12150065&guid=VSRCUpVcRXc7HMh" target="_blank">1-A POS</a></span></td>
    <td  data-title="RECEIVED"><span class="titlespan">06/28/2017</span></td>
 
    <td data-title="PERIOD END DATE"><span class="titlespan">&nbsp;</span></td  >

      <td data-title="REPORT">
        <span class="textblockcon">
      <span class="titlespan PDF_icon" ><a  href="../../assets/images/new_doc_file/conv_pdf_9.pdf" target="_blank">PDF</a></span>  
      <span class="titlespan RTF_icon"><a  href="../../assets/images/new_doc_file/rtf_9" target="_blank">RTF</a></span>  
      <span class="titlespan HTML_icon"><a  href="https://www.otcmarkets.com/filing/html?id=12150065&guid=VSRCUpVcRXc7HMh" target="_blank">HTML</a></span> 
      <span class="titlespan XLS_icon"><a  href="../../assets/images/new_doc_file/APPLIQATE_1-A_POS_20170628.xls" target="_blank">XLS</a></span>   
    </span>
    </td>
  </tr>


  <tr class="mat-row">
    <td data-title="FORM TYPE"><span class="titlespan"><a  href="https://www.otcmarkets.com/filing/html?id=12153339&guid=VSRCUpVcRXc7HMh" target="_blank">QUALIF</a></span></td>
    <td data-title="RECEIVED"><span class="titlespan">06/30/2017</span></td  >
 
    <td  data-title="PERIOD END DATE"><span class="titlespan">&nbsp;</span></td>

    <td data-title="REPORT">
      <span class="textblockcon">
      <span class="titlespan PDF_icon" ><a  href="../../assets/images/new_doc_file/conv_pdf_10.pdf" target="_blank">PDF</a></span>  
      <span class="titlespan RTF_icon"><a  href="../../assets/images/new_doc_file/rtf_10" target="_blank">RTF</a></span>  
      <span class="titlespan HTML_icon"><a  href="https://www.otcmarkets.com/filing/html?id=12153339&guid=VSRCUpVcRXc7HMh" target="_blank">HTML</a></span> 
       
    </span>
    </td>
  </tr>


  <tr class="mat-row">
    <td data-title="FORM TYPE"><span class="titlespan"><a  href="https://www.otcmarkets.com/filing/html?id=12764397&guid=6SRCU6R4LcSipMh" target="_blank">1-SA</a></span></td>
    <td  data-title="RECEIVED"><span class="titlespan">05/17/2018</span></td>
 
    <td  data-title="PERIOD END DATE"><span class="titlespan">07/31/2017</span></td>

    <td data-title="REPORT">
      <span class="textblockcon">
      <span class="titlespan PDF_icon" ><a  href="../../assets/images/new_doc_file/conv_pdf_11.pdf" target="_blank">PDF</a></span>  
      <span class="titlespan RTF_icon"><a  href="../../assets/images/new_doc_file/rtf_11" target="_blank">RTF</a></span>  
      <span class="titlespan HTML_icon"><a  href="https://www.otcmarkets.com/filing/html?id=12764397&guid=6SRCU6R4LcSipMh" target="_blank">HTML</a></span> 
      <span class="titlespan XLS_icon"><a  href="../../assets/images/new_doc_file/APPLIQATE_1-SA_20180517.xls" target="_blank">XLS</a></span>  
    </span>
    </td>
  </tr>


  <tr class="mat-row">
    <td data-title="FORM TYPE"><span class="titlespan"><a  href="https://www.otcmarkets.com/filing/html?id=12869580&guid=6SRCU6R4LcSipMh" target="_blank">1-K</a></span></td>
    <td  data-title="RECEIVED"><span class="titlespan">07/23/2018</span></td>
 
    <td  data-title="PERIOD END DATE"><span class="titlespan">01/31/2018</span></td>

    <td data-title="REPORT">
      <span class="textblockcon">
      <span class="titlespan PDF_icon" ><a  href="../../assets/images/new_doc_file/conv_pdf_12.pdf" target="_blank">PDF</a></span>  
      <span class="titlespan RTF_icon"><a  href="../../assets/images/new_doc_file/rtf_12" target="_blank">RTF</a></span>  
      <span class="titlespan HTML_icon"><a  href="https://www.otcmarkets.com/filing/html?id=12869580&guid=6SRCU6R4LcSipMh" target="_blank">HTML</a></span> 
      <span class="titlespan XLS_icon"><a  href="../../assets/images/new_doc_file/APPLIQATE_1-K_20180723.xls" target="_blank">XLS</a></span>  
    </span>
    </td>
  </tr>


  <tr class="mat-row">
    <td data-title="FORM TYPE"><span class="titlespan"><a  href="https://www.otcmarkets.com/filing/html?id=12876668&guid=6SRCU6R4LcSipMh" target="_blank">1-A POS</a></span></td>
    <td  data-title="RECEIVED"><span class="titlespan">07/26/2018</span></td>
 
    <td  data-title="PERIOD END DATE"><span class="titlespan">&nbsp;</span></td>

    <td data-title="REPORT">
      <span class="textblockcon">

      <span class="titlespan PDF_icon" ><a  href="../../assets/images/new_doc_file/conv_pdf_13.pdf" target="_blank">PDF</a></span>  
      <span class="titlespan RTF_icon"><a  href="../../assets/images/new_doc_file/rtf_13" target="_blank">RTF</a></span>  
      <span class="titlespan HTML_icon"><a  href="https://www.otcmarkets.com/filing/html?id=12876668&guid=6SRCU6R4LcSipMh" target="_blank">HTML</a></span> 
      <span class="titlespan XLS_icon"><a  href="../../assets/images/new_doc_file/APPLIQATE_1-A_POS_20180726.xls" target="_blank">XLS</a></span>  
    </span>
    </td>
  </tr>


  <tr class="mat-row">
    <td data-title="FORM TYPE"><span class="titlespan"><a  href="https://www.otcmarkets.com/filing/html?id=12885418&guid=6SRCU6R4LcSipMh" target="_blank">QUALIF</a></span></td>
    <td  data-title="RECEIVED"><span class="titlespan">08/01/2018</span></td>
 
    <td  data-title="PERIOD END DATE"><span class="titlespan">&nbsp;</span></td>

    <td data-title="REPORT">
      <span class="textblockcon">
      <span class="titlespan PDF_icon" ><a  href="../../assets/images/new_doc_file/conv_pdf_14.pdf" target="_blank">PDF</a></span>  
      <span class="titlespan RTF_icon"><a  href="../../assets/images/new_doc_file/rtf_14" target="_blank">RTF</a></span>  
      <span class="titlespan HTML_icon"><a  href="https://www.otcmarkets.com/filing/html?id=12885418&guid=6SRCU6R4LcSipMh" target="_blank">HTML</a></span> 
  
    </span>
    </td>
  </tr>


  <tr class="mat-row">
    <td data-title="FORM TYPE"><span class="titlespan"><a  href="https://www.otcmarkets.com/filing/html?id=12885419&guid=6SRCU6R4LcSipMh" target="_blank">QUALIF</a></span></td>
    <td  data-title="RECEIVED"><span class="titlespan">08/01/2018</span></td>
 
    <td  data-title="PERIOD END DATE"><span class="titlespan">&nbsp;</span></td>

    <td data-title="REPORT">
      <span class="textblockcon">

      <span class="titlespan PDF_icon" ><a  href="../../assets/images/new_doc_file/conv_pdf_15.pdf" target="_blank">PDF</a></span>  
      <span class="titlespan RTF_icon"><a  href="../../assets/images/new_doc_file/rtf_15" target="_blank">RTF</a></span>  
      <span class="titlespan HTML_icon"><a  href="https://www.otcmarkets.com/filing/html?id=12885419&guid=6SRCU6R4LcSipMh" target="_blank">HTML</a></span> 
    </span>
   
    </td>
  </tr>

  <tr class="mat-row">
    <td data-title="FORM TYPE"><span class="titlespan"><a  href="https://www.otcmarkets.com/filing/html?id=13087665&guid=6SRCU6R4LcSipMh" target="_blank">1-SA</a></span></td>
    <td  data-title="RECEIVED"><span class="titlespan">11/30/2018</span></td>
 
    <td  data-title="PERIOD END DATE"><span class="titlespan">07/31/2018</span></td>

    <td data-title="REPORT">
      <span class="textblockcon">
      <span class="titlespan PDF_icon" ><a  href="../../assets/images/new_doc_file/conv_pdf_16.pdf" target="_blank">PDF</a></span>  
      <span class="titlespan RTF_icon"><a  href="../../assets/images/new_doc_file/rtf_16" target="_blank">RTF</a></span>  
      <span class="titlespan HTML_icon"><a  href="https://www.otcmarkets.com/filing/html?id=13087665&guid=6SRCU6R4LcSipMh" target="_blank">HTML</a></span> 
      <span class="titlespan XLS_icon"><a  href="../../assets/images/new_doc_file/APPLIQATE_1-SA_20181130.xls" target="_blank">XLS</a></span>  
    </span>
   
    </td>
  </tr>


  <tr class="mat-row">
    <td data-title="FORM TYPE"><span class="titlespan"><a  href="https://www.otcmarkets.com/filing/html?id=13367400&guid=6SRCU6R4LcSipMh" target="_blank">1-Z</a></span></td>
    <td  data-title="RECEIVED"><span class="titlespan">04/19/2019</span></td>
 
    <td  data-title="PERIOD END DATE"><span class="titlespan">&nbsp;</span></td>

    <td data-title="REPORT">
      <span class="textblockcon">
      <span class="titlespan PDF_icon" ><a  href="../../assets/images/new_doc_file/conv_pdf_17.pdf" target="_blank">PDF</a></span>  
      <span class="titlespan RTF_icon"><a  href="../../assets/images/new_doc_file/rtf_17" target="_blank">RTF</a></span>  
      <span class="titlespan HTML_icon"><a  href="https://www.otcmarkets.com/filing/html?id=13367400&guid=6SRCU6R4LcSipMh" target="_blank">HTML</a></span> 
       
    </span>
   
    </td>
  </tr>


  <tr class="mat-row">
    <td data-title="FORM TYPE"><span class="titlespan"><a  href="https://www.otcmarkets.com/filing/html?id=13611607&guid=6SRCU6R4LcSipMh" target="_blank">1-U</a></span></td>
    <td  data-title="RECEIVED"><span class="titlespan">08/26/2019</span></td>
 
    <td  data-title="PERIOD END DATE"><span class="titlespan">08/26/2019</span></td>

    <td data-title="REPORT">
      <span class="textblockcon">
      <span class="titlespan PDF_icon" ><a  href="../../assets/images/new_doc_file/conv_pdf_18.pdf" target="_blank">PDF</a></span>  
      <span class="titlespan RTF_icon"><a  href="../../assets/images/new_doc_file/rtf_18" target="_blank">RTF</a></span>  
      <span class="titlespan HTML_icon"><a  href="https://www.otcmarkets.com/filing/html?id=13611607&guid=6SRCU6R4LcSipMh" target="_blank">HTML</a></span> 

  
   </span>
    </td>
  </tr>

</tbody>

</table>




    </mat-card-content>

    <mat-card-content class="sfc_wrapper_table">

      <h2>INSIDER DISCLOSURE</h2>


      <table class="toptableblock" cellpadding="0" cellspacing="0">
        <tr>
          <th>OTC Disclosure & News</th>
             
         </tr>
        </table>


        <table class="maintableblock " cellpadding="0" cellspacing="0">
         
    
        <tr>
          <td ><label class="maglabel">No insider disclosure available for APQT.</label>  </td>
           
        </tr>
    
 
    
        </table>


      </mat-card-content>


      <mat-card-content class="sfc_wrapper_table">
     <table class="toptableblock" cellpadding="0" cellspacing="0">
          <tr>
            <th>SEC Transactions Last 6 Months</th>
               
           </tr>
          </table>
  
  
          <table class="maintableblock " cellpadding="0" cellspacing="0">
           
      
          <tr>
            <td  class="sec_tdblock">
              
              <h6 class="tableh6text">Buy / Sell</h6>

              <table cellpadding="0" cellspacing="0">
                <thead>
                  <tr>
                  <th>BUYS</th>
                  <th> SELLS  </th>
                  <th> TOTAL</th>
                </tr>
                   
                </thead>
                <tbody> 

                  <tr>
                    <td data-title="BUYS"><span>0</span></td>
                    <td data-title="SELLS"><span>0</span></td>
                    <td data-title="TOTAL"><span>0</span></td>


                  </tr>


                </tbody>


              </table>


            
            </td>

            <td  class="sec_tdblock">
              
              <h6 class="tableh6text">Shares</h6>

              <table cellpadding="0" cellspacing="0">
                <thead>
                  <tr>
                  <th>BOUGHT</th>
                  <th> SOLD  </th>
                  <th> GROSS</th>
                  <th> NET</th>
                </tr>
                   
                </thead>
                <tbody> 

                  <tr>
                    <td data-title="BOUGHT"><span>0</span></td>
                    <td data-title="SOLD"><span>0</span></td>
                    <td data-title="GROSS"><span>0</span></td>
                    <td data-title="NET"><span>0</span></td>


                  </tr>


                </tbody>


              </table>

            </td>
             
          </tr>
      
   
      
          </table>
  
  
        </mat-card-content>



      <mat-card-content class="sfc_wrapper_table">

       
  
        <table class="toptableblock" cellpadding="0" cellspacing="0">
          <tr>
            <th>SEC Transactions Last 2 Years</th>
               
           </tr>
          </table>
  
  
          <table class="maintableblock " cellpadding="0" cellspacing="0">
           
      
          <tr>
            <td ><label class="maglabel">No insider disclosure available for APQT.</label>  </td>
             
          </tr>
      
   
      
          </table>
  
  
        </mat-card-content>


    
  </mat-card-content>


</mat-card-content>



<app-footer></app-footer>
