<app-header></app-header>

<mat-card-content class="as_bannermainwrapper shareholders_bannermainwrapper">
  <mat-card-content class="home_banner_wrapper">
    <mat-card-subtitle class="as_bannertextmainwrapper">
      <mat-card-content class="as_textwrapper">
        <h2>Our Mission
        </h2>
        <h3>Deliver the power of Blockchain to the collective hands of the community through our peer-to-peer Economic System.

        </h3>
      </mat-card-content>
    </mat-card-subtitle>
  </mat-card-content>
</mat-card-content>

<mat-card-content class="shareholders_body">

  <mat-card-content class="shareholders_wrapper_top">

    <a href="javascript:void(0);" class="downbtn">DOWNLOAD PDF HERE</a>
    <span>Want to read the letter in PDF?</span>

   

  </mat-card-content>

  <mat-card-content class="shareholders_wrapper">

   <label>September 5, 2019</label>

   <h2>Dear Valued Shareholders</h2>

   <p>

    I am pleased to report that Appliqate Inc. (OTCQB: APQT) is making significant strides forward. And today, I would like to highlight several key points of progress, as well as walk you through the next steps in our strategic development plan. As you know, creating long-term value is at the heart of what we are building at Appliqate, and we are extremely excited about our mission to create something unique in the blockchain space.
<br/><br/>As we move forward, key drivers to our success will be increasing our cash position and institutional and retail investor interest in our stock. We are now sharing the Appliqate story with prospective investors who have expressed interest in a Private Investment in Public Equity (PIPE) offering. We hope to raise the essential funds we need to support our ongoing operations and growth plans over the coming months. There are many strategic and tactical considerations to work through in the fundraising and registration process and we will keep you posted on our progress as decisions are made and implementation plans are enacted.
<br/><br/>Appliqate (APQT), Current focus is on a diversified range of Blockchain solutions focusing on integrated payment services, full-service Affiliate Marketing and Sales, and the future of Block-Chain based investment technologies. The APQT executive team and Board of Directors understand the significant opportunity available to us to implement proprietary technologies, and well research strategies to become a dominant figure
<br/><br/>

<strong class="strong1">Block-Chain Global Growth</strong>



Appliqate is in the right sector at the right time. Block-chain has rapidly evolved and diversified into everything, from agriculture to government compliance and tracking. This is no longer an emerging technology limited to speculative tokens, and has emerged as a robust and pervasive technology that is growing exponentially. A 2019 survey by Deloitte revealed that a majority of respondents see Block-Chain as a Top Strategic and Technological Priority. The increase was by 10% from a similar survey in 2018. The number of companies adopting block-chain is growing at an accelerated pace, and the number of new start-ups based on block-chain technology has more than doubled in the last couple of years. Appliqate is here with relevant, strategic solutions to address the gaps identified, and to anticipate the developing trends in order to establish market dominance, strategic partnerships, and create barriers to entry for the wave of competitors to come.
<br/><br/>

<strong class="strong1">Key Points of Progress -</strong>

We have been able to make considerable progress in the space through a number of key acquisitions, which include:
<br/><br/>
<strong class="strong2">Nui</strong>

Through our word-of-mouth marketing practices, we have accumulated a group of over 350,000 affiliates in 108 countries from around the world. In addition to that, we have over 50,000 blockchain advocates who have the knowledge, training, and expertise to market blockchain products and services among premier organizations in the space. Being a battle-tested company in the blockchain industry for over 3 years now, we have already made considerable progress in the space and will continue to do so in the coming years.
<br/><br/>
<strong class="strong2">Cents</strong>

This blockchain commodity allows you to pay off your current debts using the roundups that you have on your credit cards. With the license to transfer money easily and conveniently, this can be integrated with current systems and business functions. Almost 95 percent of online bill aggregators have integrated this over the course of the past 3 years.
<br/><br/>
<strong class="strong2">GPS Cash</strong>

A simple and convenient onboarding system for businesses, GPS Cash has been integrated by companies and organizations around the world to utilize our blockchain products and services. With incredible discounts and other money-saving programs on offer, this is a local performance award system that has driven countless users to desired locations.
<br/><br/>
<strong class="strong2">Doclock</strong>

Being a secure location-based file sharing tool, Doclock is the perfect solution for protecting all confidential documents and files that you have within the business. Currently, we have several large brands, companies, and businesses tied up in negotiations, chief among them being Wells Fargo, IBM, and McDonald’s among several others.
<br/><br/>
Operationally, we are diligently working to increase significant resources in developing proprietary technologies to create a strategic advantage. At the same time, our efforts are also dedicated toward creating a barrier to entry while acquiring technologies.
<br/><br/>

<strong class="strong1">Appliqate’s EcoSystem</strong>
Appliqate understands that Blockchain is growing at exponential rates, with a projected $60.7 Billion-size by 2024. This provides Appliqate multiple growth opportunities based on it’s diversified product portfolio. Appliqate ecosystem will act in unison to maximize value across blockchain building opportunities. Appliqate is focused on the following product areas.

<br/><br/>
<strong class="strong3">GPS Cash:</strong> Blockchain global payment systems with Geolocation features<br/> 
<strong class="strong3">Doclock:</strong> Encrypted, smart contract, smart management document control<br/> 
<strong class="strong3">FourWords:</strong> Wallets and blockchain for Online Gaming - a $51.9B space<br/> 
<strong class="strong3">Ticket System:</strong> Blockchain hyper-ledger to prevent fraud
<br/><br/>
In addition to these product areas, there are some opportunities that exist as derivatives of Appliqate’s Core Offerings - CompChain and Compaffiliates - which is also of great importance to us and we will be focusing quite a bit on them as well in the near future.
<br/><br/>
We have some intense competition from other leaders and startups in the Blockchain space, but we have the will, dedication, determination, and enthusiasm to succeed. Our resolve to fulfill our mission of delivering the power of Blockchain to the collective hands of the community through our peer-to-peer Economic System is quite strong and unrelenting.
<br/><br/>
Thank you for your ongoing belief and support in our mission.
<br/><br/>
Respectfully,
<br/><br/>
<strong>Una Taylor</strong><br/>
<strong>Chairman and Chief Executive Officer</strong>



</p>





  </mat-card-content>


</mat-card-content>



<app-footer></app-footer>
