<app-header></app-header>

<mat-card-content class="as_bannermainwrapper shareholders_bannermainwrapper">
  <mat-card-content class="home_banner_wrapper">
    <mat-card-subtitle class="as_bannertextmainwrapper">
      <mat-card-content class="as_textwrapper">
        <h2>Welcome, SHAREHOLDERS!!</h2>
        <h3>We are glad to have you as a part of our Family here at Appliqate, and appreciate your decision to be a shareholder in the fastest growing Blockchain technology company in the United States of America. Being a part of one of the most promising and fastest-developing industry, we have witnessed incredible progress and growth over the course of our short lifespan, and we can see this company growing even more in the coming decades. We hope you will continue being a part of this growth. So, Welcome Aboard!!
        </h3>
      </mat-card-content>
    </mat-card-subtitle>
  </mat-card-content>
</mat-card-content>

<mat-card-content class="shareholders_body">

  <mat-card-content class="shareholders_wrapper_top">

    <a href="javascript:void(0);" class="downbtn">DOWNLOAD PDF HERE</a>
    <span>Want to read the letter in PDF?</span>

   

  </mat-card-content>

  <mat-card-content class="shareholders_wrapper">

   <label>September 5, 2019</label>

   <h2>Dear Valued Shareholders</h2>

   <p>

    Significant progress has been made since the Rokk3r Inc. corporate strategy and business model was revised to its current state, from the close of new acquisitions to new market expansions. We are eager to share details about this progress, and how it will drive our growth.
<br/><br/>
In 2018, we officially changed our corporate name to Rokk3r Inc. to better reflect our business plan, strategic direction, and branding efforts.
<br/><br/>
At Rokk3r, we believe in a “Massive Transformative Purpose” (MTP) – a unifying purpose to which our team and partners adhere – to <strong>“harness global collective genius to build companies that change the world.”</strong>
<br/><br/>
Today, the availability of increased computing power and data storage, combined with decreasing costs, has led to the simultaneous rise and proliferation of multiple exponential technologies, such as artificial intelligence (AI), augmented reality (AR), virtual reality (VR), data science, robotics and sensors, among others. The convergence of these exponential technologies at this particular moment in history is driving innovation and transformation at a rate never before witnessed. Companies have already been built at the intersection of exponential technologies, and the impact they are having on business and society is unprecedented.
<br/><br/>
Based on the convergence of these exponential technologies, a global connected mindset and adherence to our MTP, we have set out to become a premier company builder, innovation partner and technology transformation company, providing a range of solutions in business strategy (“Think Phase”), technology development (“Cobuild”), and growth services (“Scale”). Rokk3r seeks to transform industries and companies from the inside out, as well as to create both new sub-sectors and new ventures, combining deep entrepreneurial experience and specialized skills with a geographic focus in the United States and in emerging markets.
<br/><br/>
Rokk3r’s new direction aims to leverage management’s collective experience co-building startups and empowering promising entrepreneurs. Essential to implementation of our new direction are our officers and directors:
<br/><br/>
<strong>Nabyl Charania,</strong> Rokk3r’s CEO, CFO and director
<br/>
<strong>Germán Montoya,</strong> Rokk3r’s Chief Exponential Officer and director
<br/>
<strong>Jeff Ransdell,</strong> director
<br/>
<strong>Salim Ismail,</strong> director
<br/><br/>

Simply put, Rokk3r seeks to provide a risk-mitigated approach to company building, corporate innovation and global business expansion. By structuring and focusing our services along the “Think”, “Cobuild”, and “Scale” models, we believe we can better connect with, and provide innovative solutions to our clients and partners throughout the entire life cycle of developing organizations.
<br/><br/>
In the first quarter of 2019, we introduced the Venture Builder model. A Rokk3r Venture Builder is designed to solve problems specific to an industry vertical (such as agriculture or fintech), a geographic area (such as Latin America), or a technology (such as AI). We seek to create companies around these criteria by partnering with investors, family offices, and companies that have broad experience in the particular industry, region or technology.
<br/><br/>
In May 2019, we completed the acquisition of Bullfrog Ventures LLC, a Florida-based consulting company with a focus on technologies related to the insurance industry. We acquired Bullfrog primarily for the knowledge and experience of its workforce and the strength of its business model, with the sole intent of bringing Bullfrog’s executives and their acumen under the newly created Rokk3r Insurtech division.
<br/><br/>
I’m pleased to report that these efforts are bearing fruit. During the six months ended June 30, 2019, we worked on a total of 19 Think Phases, compared to 12 Think Phases for the entirety of 2018. Average revenue generated per Think Phase also has increased, by 19% year-over-year, reflecting increased value for partners and more comprehensive engagements.
<br/><br/>
We have since converted three Think Phases into Cobuild projects, with an additional two Cobuild engagements currently under negotiation.
<br/><br/>
Rokk3r also closed two new Scale contracts during 2019. Contracted bookings for the year are over $12 million (not including business we plan to book over the remaining two quarters of this year), $8 million of which we expect to recognize as revenue (not including any additional revenue we may recognize in the remaining two quarters of 2019). This would represent a growth of 247% compared to $2,301,939 in reported revenue for 2018.
<br/><br/>
During 2018, we expanded our client base in the United States and in Ecuador, demonstrating our ability to successfully enter new markets. Our presence in Mexico serves as additional evidence of such success. Since the beginning of 2019, we have established a satellite office in Mexico, hired a country manager, and completed two Think Phases. Today, we are preparing to launch a project in Mexico with one of the world’s largest global financial institutions.
<br/><br/>
In the second quarter of 2019, we entered the Central American market by completing our first Think Phase in Guatemala. We expect to convert this to a Cobuild project by year-end.
<br/><br/>
During 2019, we also grew our presence in Colombia through the launch of Beriblock and the completion of two Think Phase engagements, one of which has entered the Cobuild phase. We are getting ready to close new clients in Chile, Bolivia and Brazil in the balance of 2019, further solidifying our presence in Latin America. We believe Latin America is an area ripe for innovation and demand for our services. Latin America’s growth potential is highly dependent on digital transformation, automation and access to new talent, according to a recent McKinsey & Co. report titled, “Where will Latin American growth come from?” With over 12 million companies in the region looking to stay relevant, we believe the demand for our products and services to be large and unmet.
<br/><br/>
We have assisted with the launch of five new companies in 2019 with an average founder’s equity position of 41%: Cargologik (logistics), Best Look (fashion), Graphpath (AI), Flamingo (travel), and Beriblock (fintech, blockchain).
<br/><br/>
From Think Phases that have already been completed, we expect an additional three companies to be launched by the end of 2019, with average equity positions of 25%, ending 2019 with eight new companies with an average equity position of 33.69%.
<br/><br/>
Moreover, through our Venture Builders in Artificial Intelligence, Insurtech (insurance technology), and a private corporation Venture Builder, we plan to launch an additional five companies before the end of 2019 with average equity positions of 25%.
<br/><br/>
Beginning in 2018, and throughout 2019, we saw the benefit of moving quickly and made substantial investments in our infrastructure, systems and people. We will continue to do so through the balance of this year to position ourselves for what we believe will be an extraordinary year in 2020.

</p>



  </mat-card-content>


</mat-card-content>



<app-footer></app-footer>
