<app-header></app-header>


<mat-card-content class=" ourteambannermain">

    <mat-card-subtitle class="ourteambannermainwrapper">
      <mat-card-content class="ourteambanner_textwrapper">
        <mat-card-content class="ourteambanner_textwrapper_con">
        <h2>MEET THE TEAM
        </h2>
        <h3>We understand the traditional complications of finances of businesses, that is why we strive to make digital currency simple yet efficient.
        </h3>
      </mat-card-content>
      </mat-card-content>
    </mat-card-subtitle>

</mat-card-content>





<mat-card class=" asblockchainblock2 as_ourteamwrapper2">
  <mat-card-title-group class="ascontainer">
    <mat-card-content class="as_textwrapper">
      <h1 class="ourteamh2heading"> The Appliqate Team</h1>

    </mat-card-content>
    <mat-card-content class="ourteamuserlistmainwrapper">
      <mat-card-content class="ourteamuserlistwrapper">
      <mat-card-title class="asimgwrapper profileimgwrapper">
        <img src="../../assets/images/userimg1.jpg">
      </mat-card-title>
      <h3>Darren Olayan</h3>
      <h4>Chief Executive Officer</h4>
      <p>An experienced CEO, Mr. Olayan is a serial entrepreneur leading and developing nearly a dozen enterprises. He has experience across industries and countries. Over the last five years, Mr. Olayan has focused on the blockchain sector building a seasoned team of professionals executing a data-driven, risk-mitigation approach to blockchain development and deployment. Mr. Olayan attended BYU Law and Business Schools and received a Master of Public Administration (MPA) with an entrepreneurship concentration and (BA) in International Relations and Business.  </p>
    </mat-card-content>
    </mat-card-content>
    <mat-card-content class="ourteamuserlistmainwrapper">
      <mat-card-content class="ourteamuserlistwrapper">
      <mat-card-title class="asimgwrapper profileimgwrapper">
        <img src="../../assets/images/userimg2.jpg">
      </mat-card-title>
      <h3>David Childs</h3>
      <h4>Chief Technology Officer</h4>
      <p>Mr. Childs has extensive software development expertise. He has overseen the API and application development, implementation and deployment for the company’s blockchain and blockchain related technology platforms. Mr. Childs holds a Computer Science degree from Utah Valley University.</p>
    </mat-card-content>
    </mat-card-content>
    <mat-card-content class="ourteamuserlistmainwrapper">
      <mat-card-content class="ourteamuserlistwrapper">
        <mat-card-title class="asimgwrapper profileimgwrapper">
          <img src="../../assets/images/userimg3.jpg">
        </mat-card-title>
        <h3>Nicholas Gubitosi</h3>
        <h4>Managing Director of Investor Relations</h4>
        <p>Prior to Appliqate, Mr. Gubitosi founded Quasar Mining Group Inc., a venture capital funded, transparent, cryptocurrency mining company. The company utilized a securitized token system to distribute mined currency to its token holders. Prior to Quasar, he co-founded MYST Advisors, a boutique independent research provider, where Mr. Gubitosi conducted equity research and served as interim CTO, COO and CHRO. Prior thereto, Mr. Gubitosi sat on the Institutional Equity Sales desk at Sterne Agee.  Nick holds a BBA in Economics from the University of Miami</p>
      </mat-card-content>
    </mat-card-content>
  </mat-card-title-group>
</mat-card>

<mat-card-content class=" asblockchainblock3 as_ourteamwrapper3">
  <mat-card-content class="as_textwrapper">
    <h1>Advisory Board</h1>
  </mat-card-content>
  <mat-card-title-group class="ascontainer">

    <mat-card-title class="ourteamusercontainer">
      <mat-card-content class="ourteamuserlistmainwrapper">
        <mat-card-content class="ourteamuserlistwrapper">
          <mat-card-title class="asimgwrapper profileimgwrapper">
            <img src="../../assets/images/userimg4.jpg">
          </mat-card-title>
          <h3>George Chuang</h3>
          <h4>Lucy Labs Chief Executive Officer - Board of Advisors, M&A - Cryptotrading and CoCo Liquidity.</h4>
          <p>Experience includes Pacific Partnership Advisors (China investments), Epic Partners (US Education Private Equity), Lehman Brothers Equity Sales & Trading, and PWC Management Consulting. MPPM, Yale University School of Management; AB in Economics, University of Chicago.</p>
        </mat-card-content>
      </mat-card-content>
      <mat-card-content class="ourteamuserlistmainwrapper">
        <mat-card-content class="ourteamuserlistwrapper">
          <mat-card-title class="asimgwrapper profileimgwrapper">
            <img src="../../assets/images/userimg5.jpg">
          </mat-card-title>
          <h3>Sean O'Toole</h3>
          <h4>Board of Advisors, Payment Systems and Infrastructure</h4>
          <p>Sean held multiple senior leadership roles including CEO, COO, and General Management roles at American Express, Western Union, Progressive Insurance, GiftCertificates.com & Red Wage. He is an expert in payment systems and infrastructure and played an integral role in helping many financial services companies reach and exceed their growth targets. MBA, Yale University School of Management; BBS, University of Limberick.</p>
        </mat-card-content>
      </mat-card-content>
      <mat-card-content class="ourteamuserlistmainwrapper">
        <mat-card-content class="ourteamuserlistwrapper">
          <mat-card-title class="asimgwrapper profileimgwrapper">
            <img src="../../assets/images/userimg2.jpg">
          </mat-card-title>
          <h3>Eric Dusansky</h3>
          <h4>Board of Advisors, Public Markets</h4>
          <p>Mr. Eric Dusansky serves as Senior Managing Director at Sterne Agee Group, Inc. He serves as Managing Director & Head of New York Equity Sales at Seaport Global Securities LLC since September 2018. He brings more than 20 years of experience leading and building value add businesses. He spent ten years in New York and in London as a key architect behind the buildout and growth of Sterne Agee & Leach where he covered a variety of accounts and developed a Research Sales and Equity Research Team. He began his career at Lehman Brothers. He is a graduate of Wesleyan University and holds an MBA from Yale University.</p>
        </mat-card-content>
      </mat-card-content>
      <mat-card-content class="ourteamuserlistmainwrapper">
        <mat-card-content class="ourteamuserlistwrapper">
          <mat-card-title class="asimgwrapper profileimgwrapper">
            <img src="../../assets/images/userimg6.jpg">
          </mat-card-title>
          <h3>Mark Spencer</h3>
          <h4>Board of Advisors, Payment Systems</h4>
          <p>Mr. Spencer serves as the ​Managing Partner of Capital Consulting Partners. He spent five years at CurvePay until its acquisition Shift4 Payments, primarily as President. CurvePay is a payment processor servicing the taxicab business in response to the rise of ride sharing apps. CurvePay processed over $2.8 billion worth of payments before its acquisition. Mr. Spencer also has experience in wireless communications and prop trading.
          </p>
        </mat-card-content>
      </mat-card-content>
    </mat-card-title>
  </mat-card-title-group>
</mat-card-content>



<app-footer></app-footer>