<app-header></app-header>


<mat-card-content class="home_banner">

  <mat-card-content class="home_banner_wrapper">

  <mat-card-subtitle>

    <mat-card-content>
      <h2>Igniting Businesses
        Through Blockchain</h2>
      <h3>Appliqate aspires to lead the future of payment processing for businesses <br/>by incorporating the method of blockchain payments. </h3>

      <button mat-button [routerLink]="['/services']">EXPLORE PROJECTS</button>


    </mat-card-content>


  </mat-card-subtitle>

  </mat-card-content>

</mat-card-content>


<mat-card-content class="home_block2">
  <mat-card-content class="home_block2_wrapper">
  <h2>Connecting Businesses with Blockchain</h2>
  <h3>Blockchain technology is changing the way the world exchanges information, currency, contracts, and anything else of value. Even<br/> in these early stages, industries like banks & financial institutions, music, healthcare, insurance, real estate, and retail are adopting<br/> blockchain. Experts predict it could be bigger than the internet.</h3>

  <mat-card-subtitle class="home_block2_left">
   <p>Appliqate, a publicly traded technology development firm, will<br/> provide founders with a full-stack, “idea to exit” blockchain<br/> business ecosystem.
   </p>
    <p> By applying innovative blockchain technology, a global talent<br/> pool, aligned capital and a new exponential mindset,<br/> Appliqate can offer a platform that reduces risk, increases<br/> positive outcomes for startups, opens opportunities for<br/> entrepreneurs globally, and provides transparency and<br/> liquidity to both entrepreneurs and their investors.</p>

    <!-- <button mat-button>CHECK OUT OUR STORY</button> -->
  </mat-card-subtitle>

  <mat-card-subtitle class="home_block2_right">
    <img src="../../assets/images/home_bock2_img.png">
  </mat-card-subtitle>

</mat-card-content>
</mat-card-content>





<mat-card-content class="home_block4">

  <mat-card-content class="home_block4_wrapper">

  <h2>Community Based On Compchain</h2>

  <h3>Appliqate (“APQT” or the “Company”) is a publicly traded, blockchain payments platform which furthers the rise of an integrated<br/> open global blockchain economy. In conjunction with its ecosystem partners, Appliqate encourages the adoption of (i) digital<br/> wallets (ABRA), (ii) retail crypto-currency transactions<!-- (CrayPay)-->, and (iii) online cryptocurrency bill-pay (Cents). Built on the<br/> CompChain blockchain, APQT is poised to be the first widely accepted blockchain<br/> payments platform. Appliqate aspires to lead the future of payments.
  </h3>

    <ul>

      <li>
        <img src="../../assets/images/home_block4_img1.jpg">
        <mat-card-subtitle>

          <mat-card-content>

          <strong>APPLIQATE</strong>
          <span>Our Company</span>

          </mat-card-content>
        </mat-card-subtitle>

      </li>

      <li>
        <img src="../../assets/images/home_block4_img2.jpg">
        <mat-card-subtitle>
          <mat-card-content>
          <strong>COMPCHAIN</strong>
          <span>Our Network</span>
          </mat-card-content>

        </mat-card-subtitle>

      </li>


      <li>
        <img src="../../assets/images/home_block4_img4.jpg">
        <mat-card-subtitle>
          <mat-card-content>
          <strong>COMPSCORE</strong>
          <span> Our Credit Score</span>
          </mat-card-content>

        </mat-card-subtitle>

      </li>

    </ul>


</mat-card-content>

</mat-card-content>

<mat-card-content class="home_block5">

  <h2>Current Initiatives </h2>
  <h3>APQT is poised to be the first widely accepted blockchain payments platform. Appliqate aspires to lead<br/>
    the future of payments.
  </h3>

</mat-card-content>


<mat-card-content class="home_block6">

  <mat-card-subtitle class="home_block6_con1">

    <mat-card-subtitle class="home_block6_con1_wrapper">

    <img src="../../assets/images/home_block6_img4.png">
    <p>Designed as the world’s first publicly available, working blockchain payment, processing system. Compchain is putting the power into the hands of the growing businesses, giving them the chance to earn, grow, and run their business in a completely revolutionary way. A system built on the power of blockchain, Compchain provides a real-time, accurate,
      transparent global payment solution and business growth platform for entrepreneurs. </p>
      <button mat-button [routerLink]="['/blockchain']" >Learn More</button>

    </mat-card-subtitle>
  </mat-card-subtitle>

  <mat-card-subtitle class="home_block6_conright">


  <mat-card-subtitle class="home_block6_con3">

    <mat-card-subtitle class="home_block6_con3_wrapper">
    <h2>CompAffiliates Platform</h2>
<p>Appliqate has recruited and trained a significant blockchain salesforce across 108 countries. This sales force is (or will likely be) more substantial than any other active utility blockchain.
  CompAffiliates’ comprehensive blockchain education program builds active, engaged, and eager members who are blockchain advocates. This sales force is capable of launching small and large
  companies’ blockchain projects to the masses.
</p>

      <button mat-button [routerLink]="['/compaffiliates']">Learn More</button>
    </mat-card-subtitle>


  </mat-card-subtitle>

  </mat-card-subtitle>


</mat-card-content>





<app-footer></app-footer>
