<app-header></app-header>

<mat-card-content class="as_bannermainwrapper news-releases_bannermainwrapper">
  <mat-card-content class="home_banner_wrapper">
    <mat-card-subtitle class="as_bannertextmainwrapper">
      <mat-card-content class="as_textwrapper">
        <h2>Lorem Ipsum is simply</h2>
        <h3>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source.</h3>
      </mat-card-content>
    </mat-card-subtitle>
  </mat-card-content>
</mat-card-content>

<mat-card-content class="news-releases_body">


  <mat-card-content class="news-releases_wrapper">

   


    <label>Appliqate Inc “OTC (APQT)” Acquires Stake in NUI Social </label>
      <span>March 26, 2019</span>

   <p>UTAH, March 26, 2019 (GLOBE NEWSWIRE) -- Appliqate (APQT), a Wyoming Corporation, acquires a minority stake in Utah-based NUI Social (Nui). APQT also acquired ownership of it’s digital wallet assets, intellectual property.</p>
    <a href="https://finance.yahoo.com/news/appliqate-inc-otc-apqt-acquires-201140011.html?soc_src=strm&soc_trk=ma" target="_blank">Read more</a>

    <span class="clear"></span>

    <hr>

    <label>APPLIQATE LAUNCHES COMPCHAIN </label>
    <span>May 13, 2019</span>

    <p>Lehi, UTAH, May 13, 2019 (GLOBE NEWSWIRE) -- Appliqate (APQT), a Wyoming Corporation, announces the dual launch of its Compchain blockchain and it’s Crypto-wallet Acquisition Program (CAP).</p>

    <a href="https://finance.yahoo.com/news/appliqate-launches-compchain-001332958.html?soc_src=strm&soc_trk=ma" target="_blank">Read more</a>

    <span class="clear"></span>
    <hr>

<label>Appliqate Acquires Online Bill-Pay and Debt Reduction Platform </label>

<span>May 15, 2019</span>

<p>LEHI, Utah, May 15, 2019 (GLOBE NEWSWIRE) -- Appliqate (APQT) ("Appliqate" or the "Company"), a Wyoming Corporation, announces the acquisition of CentsApp, a UTAH company, effective immediately.</p>



<a href="https://finance.yahoo.com/news/appliqate-acquires-online-bill-pay-164240385.html?soc_src=strm&soc_trk=ma" target="_blank">Read more</a>
<span class="clear"></span>
<hr>


<label>APPLIQATE TO LAUNCH COMPSCORE AN ALTERNATIVE CREDIT SCORE</label>
<span>May 28, 2019</span>

<p>LEHI, Utah, May 28, 2019 (GLOBE NEWSWIRE) -- Appliqate, (APQT) a Wyoming Corporation, announces a strategic partnership with R3 Score Technologies, Inc a Delaware company, headquartered in Baltimore, Maryland. As part of the partnership, R3 Score will design and white-label a credit alternative score - CompScore exclusively for the Appliqate network.</p>
<a href="https://finance.yahoo.com/news/appliqate-launch-compscore-alternative-credit-175033930.html?soc_src=strm&soc_trk=ma" target="_blank">Read more</a>
<span class="clear"></span>
<hr>



<label>Appliqate Inc “OTC (APQT)” And NUI Social to become Next-generation leader in Blockchain Payments Optimization </label>
<span>Oct. 08, 2019</span>

<p>LEHI, Utah, Oct. 08, 2019 (GLOBE NEWSWIRE) -- Appliqate (APQT), a Wyoming Corporation, intends to acquire remaining assets and intellectual property in Utah-based NUI Social (Nui). This final acquisition will make APQT the 100% owner of NUI.</p>


<a href="https://finance.yahoo.com/news/appliqate-inc-otc-apqt-nui-150000987.html?soc_src=strm&soc_trk=ma" target="_blank">Read more</a>
<span class="clear"></span>
<hr>


<label>Sal Shah joins the Board of Advisors of Appliqate Inc </label>
<span>Nov. 12, 2019</span>
<p>New York, Nov. 12, 2019 (GLOBE NEWSWIRE) -- Appliqate Inc. (“Appliqate”) (APQT) Sal J Shah is an experienced business executive and is currently the Chief Executive Office of TS Capital Partners Ltd. Sal was recently appointed to join the advisory board of Appliqate Inc, a technology development firm providing clients with easy access to innovative blockchain business solutions. The move is in line with the company’s goal of providing the best possible solutions to their clients across aboard, leveraging Sal’s expertise to better serve their clients</p>


<a href="https://finance.yahoo.com/news/sal-shah-joins-board-advisors-145930678.html?soc_src=strm&soc_trk=ma" target="_blank">Read more</a>
<span class="clear"></span>
<hr>


<label>Waco Hoover of ELEV8 joins the Advisory Board of Appliqate Inc “OTC (APQT)” </label>
<span>Nov. 14, 2019</span>
<p>New York, Nov. 14, 2019 (GLOBE NEWSWIRE) -- Appliqate Inc. (“Appliqate”) (APQT) Waco Hoover is one of the latest additions to the Appliqate Inc team as a blockchain technology industry expert and investor joins the board of advisory of the company. Waco is the co-founder of ELEV8, a global community, working with the blockchain industry’s largest and most successful companies, the Fortune 1000 and disruptive startups to eliminate barriers to growth and creating increased value for stakeholders across all industries.</p>
<a href="https://finance.yahoo.com/news/waco-hoover-elev8-joins-advisory-153300371.html?soc_src=strm&soc_trk=ma" target="_blank">Read more</a>
<span class="clear"></span>
<hr>

<label>Appliqate Inc “OTC (APQT)” Acquires stake in worldwide discount platform GPSCASH </label>
<span>Nov. 19, 2019</span>
<p>New York, Nov. 19, 2019 (GLOBE NEWSWIRE) -- Appliqate Inc “OTC (APQT)” has again reiterated their goal of providing top-notch services to their diverse clientele with the recent acquisition of GPSCASH. The acquisition became effective on August 7th 2019, as the company looks to strengthen their amory and grow to become one of the most sought-after services providers in the industry, particularly when it comes to payment processing for businesses by incorporating the method of blockchain payments.</p>
<a href="https://finance.yahoo.com/news/appliqate-inc-otc-apqt-acquires-142724989.html?soc_src=strm&soc_trk=ma" target="_blank">Read more</a>
<span class="clear"></span>
<hr>
  </mat-card-content>


</mat-card-content>



<app-footer></app-footer>
