.company-overview_body{ background-color: #f1f5f8!important; overflow: hidden; display: block;}

.company-overview_wrapper{ width: 1190px; margin: 53px auto!important; background: #fff; box-shadow: 0 0 4px #bfc2c4; display: block; padding:0 0 20px 0;}

.company-overview_wrapper h2{ font-size: 36px; color: #fff;  background: #186a27;   font-family: 'RalewayBold'; text-transform: uppercase;  margin: 0; padding: 15px 20px; border-radius: 4px 4px 0 0;}

 

.company-overview_bannermainwrapper{ background: url(../../assets/images/company-overview_banner.jpg); background-size: cover;}

.clear{ display: block; overflow: hidden; clear: both;}

.company-overview_bannermainwrapper .as_textwrapper{ position: relative;}

/* .company-overview_bannermainwrapper .as_textwrapper h3{ width: 380px;} */

.company-overview_bannermainwrapper .downbtn{ display: block; margin-top: 15px;   width:220px;  bottom: 35px; line-height: 60px; background: #579864; text-align: center; font-size: 15px; color: #ffffff;  font-family: 'RalewaySemiBold';} 


.company-overview_wrapper h3{    text-align: left;
    font-size: 18px;
    color: #313131;
    font-family: OpenSansSemibold;
    padding: 15px 20px; line-height: 28px;}


    .company-overview_block1{ margin: 20px; margin-top: 5px; margin-bottom: 25px; border: solid 20px #176626;  border-bottom: solid 18px #176626;  display:table; overflow: hidden; clear: both;}


    .company-overview_wrapper h4{ font-size: 36px; color: #fff;  background: #186a27;   font-family: 'RalewayBold'; text-transform: uppercase;  margin: 0; padding: 15px 20px; display: block;  }


    .company-overview_block1_text{ display: table-cell; width: 50%; vertical-align: middle; border-bottom: solid 2px  #186a27; } 

    .company-overview_block1_img{  display: table-cell; width: 50%; vertical-align: middle; background: #186a27 url(../../assets/images/company-overview-text1-arrow.png) no-repeat left center; padding-left: 20px;}

    .company-overview_block1_img img{ width: 100%;}

    .company-overview_block1_text p{ padding: 20px;  font-size: 18px;
        color: #747474;
        font-family: 'OpenSans';}

        .company-overview_wrapper h5{    text-align: center;
            font-size: 18px;
            color: #313131;
            font-family: OpenSansSemibold;
            padding: 15px 20px; line-height: 28px;}

.company-overview_block2{ border: solid 1px #186a27; margin: 20px; margin-top: 5px; display: block; clear: both; overflow: hidden;}

.company-overview_block2 ul{clear: both; overflow: hidden; margin: 0; padding: 0 1%;}

.company-overview_block2 ul li{ list-style: none; width: 31.1%; list-style: none; float: left; margin:2% 1%; background: #2a5e34; padding: 0.1%; }

.company-overview_block2 ul li span{ display: block;  background: #419150; padding: 12px;}

.company-overview_block2 ul li span img{ display: block; width: 100%;}
        
.company-overview_block2 ul li span strong{ display: block; background: #186a27; text-align: center; font-size: 30px; color: #fff; text-transform: uppercase; font-family: 'RalewayBold'; padding: 10px;}

.company-overview_block3{ background: #095618; padding: 20px; display: block; margin: 0 20px;}

.company-overview_block3 h1{font-size: 36px;
    color: #fff;
    text-align: center;
    font-family: 'RalewayBold';
    text-transform: uppercase;
    margin: 0;
    padding:0 0px 12px 0px;
    display: block;}

    .company-overview_block3 p{font-size: 26px;
        color: #fff;
        text-align: center;
        font-family: 'RalewayBold';
       
        margin: 0;
        padding: 0px 0px;
        display: block;}

        .company-overview_block3_sub1{ background: url(../../assets/images/company-overview-block3_img1.jpg); margin-top: 20px; text-align:center; display: block; padding: 20px;}

        .company-overview_block3_sub1 img{ display: block; width: 320px; max-width: 100%; margin: 0 auto;}

        .company-overview_block3_sub1 label{ display: block; text-align: center; font-size: 18px;
            color: #fff;
            font-family: OpenSansSemibold;
            padding: 15px 0; margin: 0px;
            line-height: 28px;}

        .company-overview_block3_sub2{ background: url(../../assets/images/company-overview-block3_img2.jpg); margin-top: 20px; text-align:center; display: block; padding: 20px;}
    

        .company-overview_block3_sub2 label{ display: block; text-align: center; font-size: 18px;
            color: #fff;
            font-family: OpenSansSemibold;
            padding: 15px 0; margin: 0px;
            line-height: 28px;}


            .company-overview_block3_sub2 strong{font-size: 36px;
                color: #fff;
                text-align: center;
                font-family: 'RalewayBold';
                text-transform: uppercase;
                margin: 0;
                padding:0;
                display: block;}


               .company-overview_block3btn {    display: block;
                   width: 220px;  line-height: 60px;
                    background: #579864;
                    text-align: center;
                    font-size: 15px;
                    color: #ffffff;
                    font-family: 'RalewaySemiBold'; border-radius: 0px; margin: 0 auto;}

@media screen and (max-width : 1300px){
    .company-overview_wrapper{ width: 1050px; }
}


@media screen and (max-width : 1199px){

    .company-overview_block2 ul li{ list-style: none; width: 98%;}
    .company-overview_wrapper{ width: 80%; }

    .company-overview_bannermainwrapper .as_textwrapper h3{ width: 100%;}

    .company-overview_bannermainwrapper .downbtn{position: initial; bottom: 0; right: 0; margin: 0 auto; margin-top: 15px;}

    .company-overview_wrapper  h2 { text-align: center;}
    .company-overview_wrapper  h3 { text-align: center;}

    .company-overview_wrapper  h4 { text-align: center;}

    .company-overview_block1{ display: block;}
    .company-overview_block1_text{ display: block; text-align: center;  width: 100%;}
    .company-overview_block1_img{  display:block; padding: 20px 0 0 0; background-image: none; width: 100%;}

    .company-overview_block1_text p{ padding: 15px;}
}
 

@media screen and (max-width : 480px){
    .company-overview_wrapper label{ font-size: 22px;}

    .company-overview_wrapper  h2 {font-size: 30px;}
    .company-overview_wrapper  h4 {font-size: 30px;}

    .company-overview_wrapper{ width: 90%; }

    .company-overview_block3_sub2 strong  {
        font-size: 20px;}

        .company-overview_block3_sub1  label {
            font-size: 16px; line-height: 20px;
        }

        .company-overview_block3_sub2  label {
            font-size: 16px; line-height: 20px;
        }

        .company-overview_block3btn { width: 150px;}

        .as_textwrapper h2{ font-size: 28px;}

}