<app-header></app-header>

<mat-card-content class="as_bannermainwrapper company-overview_bannermainwrapper">
  <mat-card-content class="home_banner_wrapper">
    <mat-card-subtitle class="as_bannertextmainwrapper">
      <mat-card-content class="as_textwrapper">
        <h2>Empowering Entrepreneurs Through Blockchain</h2>
        <h3>A constantly-evolving blockchain pioneer with a mission to make Crypto-currency a mass-market adoption, where businesses are connected by blockchain and integrate Crypto-currencies as a payment method. We strive to bring innovative features to benefit your business in the present and the future.
        </h3>
          <a href="javascript:void(0);" class="downbtn">DOWNLOAD PDF HERE</a>

          <span class="clear"></span>

      </mat-card-content>
    </mat-card-subtitle>
  </mat-card-content>
</mat-card-content>

<mat-card-content class="company-overview_body">


  <mat-card-content class="company-overview_wrapper">

  <h2>CONNECTING BUSINESSES WITH BLOCKCHAIN</h2>

  <h3>Blockchain technology is changing the way the world exchanges information, currency, contracts, and anything else of value. Even in these early stages, industries like banks & financial institutions, music, healthcare, insurance, real estate, and retail are adopting blockchain. Experts predict it could be bigger than the internet.</h3>


   <span class="company-overview_block1">
      <span class="company-overview_block1_text">
<p>
        Appliqate, a publicly traded technology development firm, will provide founders with a full-stack, “idea to exit” blockchain business ecosystem.
<br/><br/>
By applying innovative blockchain technology, a global talent pool, aligned capital and a new exponential mindset, Appliqate can offer a platform that reduces risk, increases positive outcomes for startups, opens opportunities for entrepreneurs globally, and provides transparency and liquidity to both entrepreneurs and their investors.
</p>    
</span>  

      <span class="company-overview_block1_img">

        <img src="../../assets/images/company-overview-text1img.png"  alt="#">
      </span>  

    <span class="clear"></span>

   </span>


   <h4>COMMUNITY BASED ON COMPCHAIN</h4>

   <h5>Appliqate (“APQT” or the “Company”) is a publicly traded, blockchain payments platform which furthers the rise of an integrated open global blockchain economy. In conjunction with its ecosystem partners, Appliqate encourages the adoption of (i) digital wallets (ABRA), (ii) retail crypto-currency transactions, and (iii) online cryptocurrency  bill-pay (Cents). Built on the CompChain blockchain, APQT is poised to be the first widely accepted blockchain payments platform. Appliqate aspires to lead the future of payments.</h5>


   <span class="company-overview_block2">

    <ul>
      <li>
        <span>
          <strong>APPLIQATE
            Our Company</strong>
            <img src="../../assets/images/company-overview_con_img1.jpg"  alt="#">

        </span>
      </li>

      <li>
        <span>
          <strong>COMPCHAIN
            Our Network</strong>
            <img src="../../assets/images/company-overview_con_img2.jpg"  alt="#">

        </span>
      </li>



      <li>
        <span>
          <strong>COMPSCORE
            Our Credit Score</strong>
            <img src="../../assets/images/company-overview_con_img3.jpg"  alt="#">

        </span>
      </li>

    </ul>


<span class="clear"></span>

   </span>

   <span class="company-overview_block3">

    <h1>CURRENT INITIATIVES</h1>
    <p>APQT is poised to be the first widely accepted blockchain payments platform. Appliqate aspires to lead the future of payments.</p>


    <span class="company-overview_block3_sub1">

      <img src="../../assets/images/home_block6_img4.png" alt="#">
      <label>Designed as the world’s first publicly available, working blockchain payment, processing system. Compchain is putting the power into the hands of the growing businesses, giving them the chance to earn, grow, and run their business in a completely revolutionary way. A system built on the power of blockchain, Compchain provides a real-time, accurate, transparent global payment solution and business growth platform for entrepreneurs.</label>
      <button mat-button class="company-overview_block3btn" [routerLink]="['/blockchain']" >Learn More</button>
    </span>

    <span class="company-overview_block3_sub2">

     <strong>COMPAFFILIATES PLATFORM</strong>
      <label>Appliqate has recruited and trained a significant blockchain salesforce across 108 countries. This sales force is (or will likely be) more substantial than any other active utility blockchain. CompAffiliates’ comprehensive blockchain education program builds active, engaged, and eager members who are blockchain advocates. This sales force is capable of launching small and large companies’ blockchain projects to the masses.</label>
      <button mat-button class="company-overview_block3btn" [routerLink]="['/compaffiliates']">Learn More</button>
    </span>


   </span>



  </mat-card-content>


</mat-card-content>



<app-footer></app-footer>
